node_modules
assets
build
dist
lib
es
tmp
temp
typings
storybook-docs
coverage
lib-cov
vendor
APP-META
sea-modules
jspm_packages
bower_components

.tmp
.ice
.env
.tea
.history
.idea
.svn
.DS_Store
*.tgz
*.swp
*.bak*
.npm
.next
.nuxt
.travis.yml
.yarn-integrity
.sass-cache
.eslintcache
.stylelintcache
.grunt
.node_repl_history
.lock-wscript
.nyc_output

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

# files ignored
**/vendor.js
**/*.min.js
**/*-min.js
**/*.bundle.js
